@charset "UTF-8";

:root {
    --branco: #fff;
    --preto: #000;
    --cinza: #212020;
    --cinza-claro: #BFBFBF;
    --hover: #A0A7B9;
    --azul: #2547A0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 114rem;
}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--azul);
    padding: 1rem 1.5rem;
    color: var(--branco);
}

.cabecalho > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__logo {}

.cabecalho__logo h2 {
    font-size: 2em;
    font-weight: 800;
}

/* INFORMAÇÕES DE CONTATO */
.cabecalho__navegacao {
    display: flex;
    align-items: center;
    gap: 3.4rem;
}

.cabecalho__navegacao i {
    font-size: 1.3em;
    cursor: pointer;
}

.entreEmContato {
    font-family: "Space Mono", serif;
    background-color: var(--cinza-claro);
    padding: 1rem 1.7rem;
    text-transform: uppercase;
    font-size: 0.9em;
    border-radius: 30px;
    color: var(--preto);
    transition: .3s;
}

.entreEmContato:hover {
    background-color: var(--hover);
}

/* CONTEÚDO */
.conteudo {}

/* SEÇÃO DO SLIDE */
.conteudo__secaoSlide {
    background-color: var(--azul);
    padding-bottom: 2rem;
}

.conteudo__secaoSlide h1, .conteudo__secaoSlide h2 {
    color: var(--branco);
    font-size: 5.5em;
    text-align: right;
    text-transform: uppercase;
    font-weight: 900;
}

.conteudo__secaoSlide h1 {
    padding-right: 11rem;
    padding-top: 2rem;
    line-height: 3rem;
}

.conteudo__secaoSlide h2 {
    padding-right: 7rem;
    padding-bottom: 9rem;
}

.conteudo__secaoSlide img {
    width: 100%;
    max-width: 75rem;
    margin-left: 10rem;
    display: block;
}

/* SEÇÃO DE SERVIÇOS */
.conteudo__nossosServicos {
    background-color: var(--cinza);
    padding: 3.5rem 0rem 8rem 0rem;
}

.conteudo__nossosServicos h2 {
    color: var(--branco);
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 3rem;
}

.nossosServicos__listaServicos {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3rem;
}

.listaServicos__servico {
    background-color: var(--branco);
    padding: 1.8rem 1.6rem;
}

.listaServicos__servico img {
    width: 5rem;
    margin-bottom: 10rem;
}

.listaServicos__servico h3 {
    font-size: 1.6em;
    font-weight: 900;
    margin-bottom: 2rem;
}

.listaServicos__servico p {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    color: var(--cinza);
}

/* SEÇÃO DOS NOSSOS PROJETOS */
.conteudo__secaoProjetos {
    padding: 3.5rem 0rem 4rem 0rem;
}

.conteudo__secaoProjetos h2 {
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 3rem;
}

.secaoProjetos__listaProjetos {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.listaProjetos__prejeto {}

.listaProjetos__prejeto img {}

.listaProjetos__prejeto span {
    display: block;
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 2rem;
}

/* SEÇÃO DE CRIAÇÃO */  
.conteudo__secaoCriacao {
    background-color: var(--azul);
    display: flex;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    gap: 13rem;
}

.conteudo__secaoCriacao img {
    width: 100%;
    max-width: 23rem;
}

.secaoCriacao__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    max-width: 43rem;
}

.secaoCriacao__info h2 {
    font-size: 2em;
    font-weight: 800;
}

.secaoCriacao__info p {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 22px;
}

.secaoCriacao__info a {}

/* SEÇÃO DE HISTÓRIA */
.conteudo__secaoHistoria {}
.secaoHistoria__info {}

.secaoHistoria__info img {}

.secaoHistoria__info p {}

.conteudo__secaoHistoria img {}

/* SEÇÃO DA NOSSA EQUIPE */
.conteudo__secaoNossaEquipe {}

.secaoNossaEquipe__listaIntegrantes {}

.listaIntegrantes__integrantes {}

.listaIntegrantes__integrantes h3 {}

.listaIntegrantes__integrantes span {}

/* SEÇÃO DE FEDDBACK */
.contuedo__secaoFeedback {}
.contuedo__secaoFeedback h2 {}

.contuedo__secaoFeedback p {}

.contuedo__secaoFeedback span {}

/* RODAPÉ */
.rodape {}

.rodape__falaConosco {}

.rodape__falaConosco h2 {}

.rodape__falaConosco address {}

.rodape__falaConosco address p {}

.rodape p {}