@charset "UTF-8";

:root {
    --branco: #fff;
    --preto: #000;
    --cinza: #212020;
    --cinza-claro: #BFBFBF;
    --hover: #A0A7B9;
    --azul: #2547A0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 114rem;
}

/* CABEÇALHO */
.cabecalho {
    position: fixed;
    width: 100%;
    background-color: var(--azul);
    padding: 1rem 1.5rem;
    color: var(--branco);
}

.cabecalho > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho #btn-menu {
    display: none;
}
/* .cabecalho #btn-menu {
    cursor: pointer;
    position: relative;
    top: -0.4rem;
}

.cabecalho #btn-menu span {
    display: block;
    border-top: 4px solid white;
    width: 3.4rem;
}
.cabecalho #btn-menu span::before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 13px 0;
    position: absolute;
} */

.cabecalho__logo {}

.cabecalho__logo h2 {
    font-size: 2em;
    font-weight: 800;
}

/* INFORMAÇÕES DE CONTATO */
.cabecalho__navegacao {
    display: flex;
    align-items: center;
    gap: 3.4rem;
}

.cabecalho__navegacao i {
    font-size: 1.3em;
    cursor: pointer;
    transition: .3s;
}
.cabecalho__navegacao i:hover {
    color: var(--hover);
}

.entreEmContato {
    font-family: "Space Mono", serif;
    background-color: var(--cinza-claro);
    padding: 1rem 1.7rem;
    text-transform: uppercase;
    font-size: 0.9em;
    border-radius: 30px;
    color: var(--preto);
    transition: .3s;
}

.entreEmContato:hover {
    background-color: var(--hover);
}

/* CONTEÚDO */
.conteudo {}

/* SEÇÃO DO SLIDE */
.conteudo__secaoSlide {
    background-color: var(--azul);
    padding-bottom: 2rem;
    padding-top: 6rem;
}

.conteudo__secaoSlide h1, .conteudo__secaoSlide h2 {
    color: var(--branco);
    font-size: 5.5em;
    text-align: right;
    text-transform: uppercase;
    font-weight: 900;
}

.conteudo__secaoSlide h1 {
    padding-right: 11rem;
    padding-top: 2rem;
    line-height: 3rem;
}

.conteudo__secaoSlide h2 {
    padding-right: 7rem;
    padding-bottom: 9rem;
}

.conteudo__secaoSlide img {
    width: 100%;
    max-width: 75rem;
    margin-left: 10rem;
    display: block;
}

/* SEÇÃO DE SERVIÇOS */
.conteudo__nossosServicos {
    background-color: var(--cinza);
    padding: 3.5rem 3rem 8rem 3rem;
}

.conteudo__nossosServicos h2 {
    color: var(--branco);
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 3rem;
}

.nossosServicos__listaServicos {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3rem;
}

.listaServicos__servico {
    background-color: var(--branco);
    padding: 1.8rem 1.6rem;
}

.listaServicos__servico img {
    width: 5rem;
    margin-bottom: 10rem;
}

.listaServicos__servico h3 {
    font-size: 1.6em;
    font-weight: 900;
    margin-bottom: 2rem;
}

.listaServicos__servico p {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    color: var(--cinza);
}

/* SEÇÃO DOS NOSSOS PROJETOS */
.conteudo__secaoProjetos {
    padding: 3.5rem 3rem 4rem 3rem;
}

.conteudo__secaoProjetos h2 {
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 3rem;
}

.secaoProjetos__listaProjetos {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 2rem;
}

.listaProjetos__prejeto {}

.listaProjetos__prejeto img {
    width: 100%;
}

.listaProjetos__prejeto span {
    display: block;
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 2rem;
}

/* SEÇÃO DE CRIAÇÃO */  
.conteudo__secaoCriacao {
    background-color: var(--azul);
    display: flex;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    gap: 13rem;
}

.conteudo__secaoCriacao img {
    width: 100%;
    max-width: 23rem;
}

.secaoCriacao__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    max-width: 43rem;
}

.secaoCriacao__info h2 {
    font-size: 2em;
    font-weight: 800;
}

.secaoCriacao__info p {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 22px;
}

.secaoCriacao__info a {}

/* SEÇÃO DE HISTÓRIA */
.conteudo__secaoHistoria {
    padding: 5rem;
}

.conteudo__secaoHistoria h2 {
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 8rem;
    text-align: center;
}

.conteudo__secaoHistoria > .container {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}

.secaoHistoria__info {
    max-width: 46rem;
    margin-bottom: 7rem;
}

.secaoHistoria__info img {
    width: 21rem;
    margin-bottom: 7rem;
}

.secaoHistoria__info p {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 22px;
    margin-bottom: 1.5rem;
    max-width: 35rem;
}

.conteudo__secaoHistoria > .container > img {
    width: 42rem;
    height: 48rem;
}

/* SEÇÃO DA NOSSA EQUIPE */
.conteudo__secaoNossaEquipe {
    padding: 0rem 3rem;
} 

.conteudo__secaoNossaEquipe h2 {
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 8rem;
}  

.secaoNossaEquipe__listaIntegrantes {
    display: flex;
    gap: 1.3rem;
    max-width: 113rem;
    margin-bottom: 6rem;
}

.listaIntegrantes__integrantes {}

.listaIntegrantes__integrantes img {
    width: 100%;
}

.listaIntegrantes__integrantes h3 {
    padding: 0.4rem 0;
    font-weight: 900;
}

.listaIntegrantes__integrantes span {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 22px;
}

/* SEÇÃO DE FEDDBACK */
.contuedo__secaoFeedback {
    background-color: var(--azul);
    padding: 5rem 5rem 8rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.contuedo__secaoFeedback h2 {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 4rem;
}

.contuedo__secaoFeedback p {
    font-weight: 900;
    font-size: 1.4em;
    letter-spacing: 1px;
    line-height: 22px;
    max-width: 54rem;
    text-align: center;
    margin-bottom: 1rem;
}

.contuedo__secaoFeedback span {
    letter-spacing: 2px;
}

/* RODAPÉ */
.rodape {
    padding: 9rem 9rem 9rem 9rem;
    background-color: #10204b;
    color: white;
    position: relative;
}

.rodape__falaConosco {}

.rodape__falaConosco h2 {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 2rem;
}

.rodape__falaConosco address {
    margin-bottom: 5rem;
}

.rodape__falaConosco address p {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 27px;
}

.rodape > .container > p {
    position: absolute;
    bottom: 2rem;
    letter-spacing: 1px;
}

.rodape > .container > p a {
    color: white;
    text-decoration: underline;
    color: grey;
}